* { 
  font-family: "Anta";
}

html {
  background-color: black;
}

a {
  color: white;
  text-decoration: none;
}

body {
  padding: 10px;
  background-color: black;
  background-image: linear-gradient(white, black); 
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

footer {
  margin-top: 10px;
  background-color: white;
  color: black;
  padding: 10px 5px 20px 5px;
  text-align: center;
}

h1 {
  font-size: 42.2px;
  margin-top: 5px;
}

h2 {
  margin: 2px;
  color: cyan;
}

nav {
  margin-top: 4px;
  margin-bottom: 2px;
  width: 100%;
  text-align: center;
  word-spacing: -10px;
}

nav > button {
  color: white;
  margin-top: 4px;
  margin-bottom: 2px;
  background-color: black;
  border: 1px solid white;
  width: 25%;
  transition-duration: 0.2s;
}

button:hover{
  background-color: white;
  color: black;
}

section, header, main {
  background-color: black;
  padding: 10px;
  margin: 10px 0px;
  border-radius: 10px;
}

header {
  margin-top: 0px;
}

ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
}

.bordered {
  border: 4px solid cyan;
}

.center-box {
  align-items: stretch;
}

.rounded {
  border-radius: 10px;
}

.flex-box, .flex-pack, .flex-bag{
  display: flex;
  flex-direction: row;
}

.follow{
  Background: white;
  min-width: 64px;
  height: 64px;
  padding: 10px;
}

.flagbt{
  background-color: black;
  width: 100%;
  height: 92px;
  min-width: 184px;
  padding: 0px;
}

.flag {
  display: flex;
  width: 100%;
  height: 100%;
  padding: auto;
  margin: auto;
}

.game-img {
  margin-left: 4px;
  margin-right: 8px;
  margin-bottom: 4px;
  margin-top: 18px;
  width: 124px;
  height: 124px;
  border-radius: 10px;
  display: inline-flex;
}

.profile {
  border-radius: 50%;
}

.spaced {
  justify-content: space-between;
}

.video {
  display: flex;
  justify-content: center;
}

#alan {
  float: left;
  margin-right: 10px;
  padding-top: 2px;
}

#home, .en{
  display: block;
}

#mystic {
  display: flex;
  padding: 10px 0px;
  min-width: 360px;
  height: 64px;
  justify-content: center;
  width: 100%;
}

#mystic > a {
  display: inline-flex;
}

#follow {
  display: flex;
  /*justify-content: center;*/
  /*min-width: 380px;*/
  /*height: 100%;*/
  flex: 1%;
}

#flag {
  display: flex;
  align-self: right
  flex: 1%;
}

#game {
  display: flex;
  width: 60%;
}

#scr {
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#images, #music, #videos, #games, .es{
  display: none;
}

@media (max-width: 1178px) {
  .flex-box {
    flex-direction: column;
  }
  
  #mystic {
    width: auto;
    margin-bottom: 4px;
  }
}

@media (max-width: 806px) {
  .flex-pack {
    flex-direction: column;
  }
  
  /*.adsbygoogle {
    width: 8%;
  }*/

  #follow {
    justify-content: space-between;
  }
}
